@media only screen and (max-width:767px) {
  /* put in here the css for things that need to change at this size (mobile) */
  body {
    background-color: pink;
  }

  .grid1-container, .grid-container-1 {grid-template-columns: 150px;
  grid-template-rows: repeat(4, 200px);}

  .grid1-img-1, .g1-img-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .grid1-img-2, .g1-img-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid1-img-3, .g1-img-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .grid1-img-4, .g1-img-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

}
